.DS_Store
.vscode
bin/
rapids_env/
vcflib/
*.log
*.res
df1.csv
df2.csv
df3.csv
df4.csv
data/chrx.gz
miniconda.sh
Miniconda3-latest-Linux-x86_64.sh
myannotations.bed
output.vcf
vcflib
result
data/
GPUParser.deb
result_danio.txt
results_bos.txt
results_felis.txt